<div class="container">

    <div class="row">
      <div class="about-img1 mx-auto">
        <div class="about-text1">
        適度な運動が健康の基本
        </div>
      </div>
      <div class="about-img2 mx-auto">
        <div class="about-text2">
        食事で健康にバランスを
        </div>
      </div>
    </div>
  </div>