  <div class="container">

    <div class="row">
      <div class="top-img mx-auto">
        <div class="top-text">
        運動することで健康を
        </div>
      </div>
    </div>
    <div class="text-center guest-log-in">
    <%= link_to 'ゲストでログインする', users_guest_sign_in_path, method: :post %>
    </div>
    <div class="recent-post">
      <h2 class="section-ttl">最近の投稿</h2>
		<div class="items">
			<% Post.all.last(4).each do |post| %>
				<%= link_to post_path(post) do %>
					<%= image_tag post.image, size: '150x100' %>
					<%= post.title %>
				<% end %>
			<% end %>
		</div>
    </div>
  </div>