<div class="col-md-2 side_tag">
  <table class="table">
    <thead>
      <tr>
        <th>タグ検索</th>
      </tr>
    </thead>
    <% Tag.all.each do |tag| %>
    <tbody>
     <tr>
       <td><%= link_to tag.name, tag_path(tag.id) %></td>
     </tr>
    </tbody>
    <% end %>
  </table></br></br></br>

  <table class="table">
    <thead>
      <tr>
        <th>ステータス検索</th>
      </tr>
    </thead>
    <% Job.all.each do |job| %>
    <tbody>
     <tr>
       <td><%= link_to job.name, job_path(job.id) %></td>
     </tr>
    </tbody>
    <% end %>
  </table>
</div>