<div class="col-md-2 side_tag">
  <table class="table">
    <thead>
      <tr>
        <th>ジャンル検索</th>
      </tr>
    </thead>
    <% Tag.all.each do |tag| %>
    <tbody>
     <tr>
       <td><%= link_to tag.name, tag_path(tag.id) %></td>
     </tr>
    </tbody>
    <% end %>
  </table>
</div>