<div class="col-md-2">
  <table class="table">
    <thead>
      <tr>
        <th>ステータス検索</th>
      </tr>
    </thead>
    <% Job.all.each do |job| %>
    <tbody>
     <tr>
       <td><%= link_to job.name, job_path(job.id) %></td>
     </tr>
    </tbody>
    <% end %>
  </table>
</div>